<section class="edit-panel">
    <input type="text" id="post-title" data-ng-model="post.title" placeholder="title"></input>
    <button id="publish-button" class="btn" data-ng-click="writeFile()">publish</button>

    <div id="post-container">
    	<div contenteditable="true" id="post-content" data-ng-show="!previewOn" data-ng-model="post.content"></div>
      <div id="post-content-preview" data-ng-show="previewOn" data-ng-bind-html-unsafe="post.htmlPreview"></div>
      <button data-ng-click="togglePreview()">preview</button>
		<status-panel></status-panel>
    </div>
</section>

