<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="lib/jquery-1.9.1.min.js"></script>
	<script src="lib/mimic.js"></script>
	<script src="lib/wordpress.min.js"></script>
	<script src="lib/angular.min.js"></script>
	<script src="lib/marked.js"></script>
	<script src="controllers/editor.js"></script>
	<script src="main.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet/less" type="text/css" href="css/style.less" />
	<script src="css/less-1.3.3.min.js" type="text/javascript"></script>
	<title>platen</title>
</head>
<body data-ng-app>
	<section data-ng-controller="EditorController">

		<section class="edit-panel">
			<input type="text" class="input-xxlarge" data-ng-model="post.title" placeholder="title">
			<button class="btn btn-danger" data-ng-click="update()">publish</button>
			<textarea class="input-xxlarge" data-ng-model="post.rawContent"></textarea>
		</section>


		<aside class="preview-panel">
			<header>preview</header>
		</aside>

		<aside class="config-panel">
			<header>config</header>
		</aside>
	</section>
</body>
</html>