<div class="page-container" id="about-page">
  <h1>About</h1>

  <span class="logo"></span>

  <div class="tip-container">
    <p>like Platen? want to support the author?</p>
    <iframe src="views/donate-sandbox.html"></iframe>
  </div>


  <h3>Overview</h3>
  <p>Platen is a Markdown Wordpress editor created by <em><a href="http://tatiyants.com">Alex Tatiyants</a></em>.
  As the description suggests, you can use it to write posts using <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> (<a href="https://help.github.com/articles/github-flavored-markdown">GitHub flavored</a>) and upload them to your WordPress blog.</p>

  <aside class="page-links">
    <h3>Helpful links</h3>
    <ul>
      <li><a href="http://daringfireball.net/projects/markdown/syntax">Markdown Syntax Reference</a></li>
      <li><a href="https://help.github.com/articles/github-flavored-markdown">GitHub Flavored Markdown</a></li>
      <li><a href="https://github.com/AlexTatiyants/platen">platen source code</a></li>
    </ul>
  </aside>

  <p>Platen is designed to work offline. All your posts and images are stored locally and you can decide to
  upload them to WordPress whenever you want.</p>

  <h3>Posts</h3>
  <p>
  To view the list of posts, click on the posts icon <span class="icon-posts-list"></span>. Here you can edit, delete, and sort your posts. To create a new post, click on the new post icon <span class="icon-new-post"></span>.</p>

  <h3>Images</h3>
  <p>To view images you've used in your posts, click on the images icon <span class="icon-images-list"></span>.</p>

  <h3>Using Images</h3>
  <p>To use an image in your post, simply copy it from any application you like and paste it into your post.
  Note that you'll be prompted to specify the name of your image. </p>

  <p>When uploading a post with images, Platen will automatically upload images to your blog's Media Library and update the image links.</p>

  <h3>Post Metadata</h3>
  <p>You can set the excerpt, tags, and categories for your post. Click on the narrow strip below the edit window to bring up the metadata panel.</p>

  <p>The first time you open the panel, the excerpt will be automatically populated from the first paragraph
  of your post. You can edit it by hand or refresh it by clicking the refresh icon <span class="icon-refresh"></span>.</p>
  <p>To add mutliple tags or categories, separate them with a comma. You can also use tags and categories
  from your WordPress blog. To load them, just click on the WordPress sync icon <span class="icon-sync-wordpress"></span>.</p>

  <p>To publish the post, click the "publish" button. The post will get published to WordPress next time you upload it.</p>

  <h3>Status</h3>
  <p>
  Clicking platen's status indicator <span class="icon-logo"></span> will show you the status of the most recent action. If everything is ok, you'll see a green light <span class="status-light success"></span>. In case of error, the light will turn red <span class="status-light error"></span>.
  </p>
  <p>To see a running log of activity, click the logs icon <span class="icon-logs"></span>.
  </p>

  <h3>Settings</h3>
  <p>Platen can be customized using the settings panel (to open, click the settings icon <span class="icon-settings"></span>). You can change the theme, customize fonts used in the editor, and configure your WordPress login credentials.



  </p>
</div>