<section id="editor" data-ng-controller="EditorController">
  <section id="edit-panel">
    <span id="status-panel">
      <span>last saved <strong><span data-ng-bind="status.autoSaveTime"></span></strong></span>
    </span>

    <h1 class="input-box" id="post-title" contenteditable="true" data-editable-text="true" data-ng-model="post.title"></h1>
    <div id="post-container">
      <article contenteditable="true" class="input-box" data-editable-markdown="true" id="post-content" data-ng-show="!previewOn"
      data-ng-model="post.contentMarkdownHtml" data-pastable-image="true"></article>
      <div id="post-content-preview" data-ng-show="previewOn" data-ng-bind-html-unsafe="post.contentHtmlPreview"></div>
    </div>
  </section>

  <ul class="edit-controls">
    <li data-ng-click="togglePreview()" title="{{previewMessage}}"
      data-ng-class="{'edit-control': true, 'icon-view-markdown': previewOn, 'icon-view-html': !previewOn}"></li>
    <li data-ng-click="sync()" class="edit-control icon-sync-wordpress" title="sync to blog"></li>
  </ul>

  <aside id="metadata-panel">
    <div id="metadata-container">
      <div id="metadata-collapser" data-ng-click="toggleMetadataPanel()"></div>
      <section id="post-metadata" data-ng-show="showMetadata" data-ng-animate>

        <div class="field-group full">
          <label>excerpt</label>
          <span class="icon-reload" data-ng-click="updateExcerpt()" title="set excerpt to post's first paragraph"></span>
          <div class="input" contenteditable="true" data-editable-text="true" data-ng-model="post.excerpt" id="post-excerpt"></div>
        </div>

        <div class="field-group half">
          <label>tags</label>
          <span class="icon-sync-wordpress" data-ng-click="getTags()" title="get existing tags from WordPress"></span>
          <div class="input" contenteditable="true" data-editable-text="true" data-ng-model="post.tags" id="post-tags"></div>
          <ul class="term-list">
            <li data-ng-repeat="tag in tags"  data-ng-click="addTag(tag)">
              <span data-ng-bind="tag.name"></span>
            </li>
          </ul>
        </div>

        <div class="field-group half">
          <label>categories</label>
          <span class="icon-sync-wordpress" data-ng-click="getCategories()" title="get existing categories from WordPress"></span>
          <div class="input" contenteditable="true" data-editable-text="true" data-ng-model="post.categories" id="post-categories">
          </div>
          <ul class="term-list">
            <li data-ng-repeat="category in categories"  data-ng-click="addCategory(category)">
              <span data-ng-bind="category.name"></span>
            </li>
          </ul>
        </div>

        <div class="image-list" data-ng-show="imagesAvailable()">
          <label>associated images</label>
          <ul>
            <li class="thumbnail" data-ng-repeat="image in post.images">
              <span class="caption" data-ng-bind="image.name"></span>
              <img data-ng-src="{{image.localUrl}}"></img>
              <span class="image-controls">
                <span class="icon-insert" data-ng-click="addImageToPost(image)"></span>
                <span class="icon-delete" data-ng-click="initiateImageDelete(image)"></span>
              </span>
            </li>
          </ul>
        </div>
        <div class="field-group full">wordpress id: <span data-ng-bind="post.wordPressId"></span></div>
      </section>
    </div>
  </aside>

  <div id="delete-image-confirm">
    <div modal="deleteImageConfirmOpen" close="cancelImageDelete()" options="opts">
      <div class="modal-header">
        <h2>Delete Image</h2>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete image '<span data-ng-bind="imageToDelete.fileName"></span>' ?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning cancel" ng-click="proceedWithImageDelete()">Proceed</button>
        <button class="btn btn-warning cancel" ng-click="cancelImageDelete()">Cancel</button>
      </div>
    </div>
  </div>

  <div id="insert-image-dialog">
    <div modal="insertImageDialogOpen" close="cancelImageInsert()" options="opts">
      <div class="modal-header">
        <h2>Insert Image</h2>
      </div>
      <div class="modal-body">
        <div class="field-group full">
            <label>Enter image name</label>
            <input id="inserted-image-name" type="text" class="input-box" data-ng-model="imageToInsert.fileName"></input>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning cancel" ng-click="proceedWithImageInsert()">Ok</button>
        <button class="btn btn-warning cancel" ng-click="cancelImageInsert()">Cancel</button>
      </div>
    </div>
  </div>

</section>