<div class="page-container" data-ng-controller="PostsController">
    <h2>Posts</h2>

    <div class="filter-options">
        <h4>sort by</h4>
        <span class="filter-option" ng-click="predicate = 'state.createDate'; reverse=!reverse">created on</span>
        <span class="filter-option" ng-click="predicate = 'state.lastSaveDate'; reverse=!reverse">saved on</span>
        <span class="filter-option" ng-click="predicate = 'title'; reverse=!reverse">title</span>
    </div>

    <ul class="list">
        <li class="list-item-line" data-ng-repeat="post in postsList | orderBy:predicate:reverse">
            <span class="icon icon-delete" data-ng-click="deletePost(post)"></span>
            <span class="icon icon-edit" data-ng-click="editPost(post)"></span>
            <h3 data-ng-bind="post.title"  data-ng-click="editPost(post)" class="clickable-title"></h3>
            <span class="item-date">created
                <strong data-ng-bind="post.state.createDate | fromNow"></strong>
            </span>
            <span class="item-date">last saved
                <strong data-ng-bind="post.state.lastSaveDate | fromNow"></strong>
            </span>
            <span class="item-date">last uploaded
                <strong data-ng-bind="post.state.lastUploadDate | fromNow"></strong>
            </span>
            <span class="item-date">status
                <strong data-ng-bind="post.status"></strong>
            </span>
        </li>
    </ul>

    <div id="delete-post-confirm">
        <div modal="deletePostConfirmOpen" close="close()" options="opts">
            <div class="modal-header">
                <h2>Delete Post</h2>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete post '<span data-ng-bind="postToDelete.title"></span>' ?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning cancel" ng-click="proceedWithDelete()">Proceed</button>
                <button class="btn btn-warning cancel" ng-click="cancelDelete()">Cancel</button>
            </div>
        </div>
    </div>
</div>