<div class="list-container" data-ng-controller="PostsController">
    <h2>Posts</h2>

    <div>
        <button class="btn" data-ng-click="deleteAll()">delete all posts</button>
        <button class="btn" data-ng-click="readImages()">read images</button>
        <button class="btn" data-ng-click="readDirectory()">read directory</button>
        <button class="btn" data-ng-click="readFile()">read file</button><input type="text" data-ng-model="fileName"></input>
    </div>
    <ul>
        <li class="list-item" data-ng-repeat="(id, post) in posts">
            <span class="icon icon-delete-post" data-ng-click="deletePost(post)"></span>
            <span class="icon icon-edit-post" data-ng-click="editPost(post)"></span>
            <h3 data-ng-bind="post.title"  data-ng-click="editPost(post)" class="clickable-title"></h3>

            <span class="item-date">created on
                <strong data-ng-bind="post.createdDate | date:'short'"></strong>
            </span>
        </li>
    </ul>

    <div>
        <div modal="shouldBeOpen" close="close()" options="opts">
            <div class="modal-header">
                <h2>Delete Post</h2>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete post '<span data-ng-bind="postToDelete.title"></span>' ?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning cancel" ng-click="proceedWithDelete()">Proceed</button>
                    <button class="btn btn-warning cancel" ng-click="cancelDelete()">Cancel</button>
                </div>
            </div>
        </div>
    </div>