@footer-height-collapsed: 22px;
@footer-height-full: 173px;

#editor {
    height: 100%;
    min-height: 100%;
}

#post-container {
    padding-bottom: @pad-unit * 2;
}

#edit-panel {
    margin: auto;
    max-width: 700px;
    width: 80%;
}

.post-common {
    max-width: 900px;
    border-radius: @border-radius;
    resize: none;
    outline: none;
    overflow-y: auto;
}

.post-content-common {
    .post-common;
    height: 85%;
    font-family: 'inconsolata';
    font-size: @base-font-size;
    line-height: @base-line-height;
}

#post-title {
    .post-common;
    width: 100%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px dotted @line-color;
    font-family: 'economica';
    padding-top: @pad-unit * 0.6;
    padding-bottom: @pad-unit * 0.6;
    padding-left: @pad-unit * 0.6;
    margin-bottom: @pad-unit * 0.5;
    font-weight: 300;
    font-size: @base-font-size * 2;
    overflow: hidden;
    white-space: nowrap;
}

#post-content {
    .post-content-common;
    padding: @pad-unit * 0.6;
    border: 0px;
    font-weight: 300;
}

#post-content-preview {
    .post-content-common;
    padding: @pad-unit * 1.5 @pad-unit * 1.5 @pad-unit * 1.5 @pad-unit * 1.5;
    border: 1px dotted @line-color-strong;
    box-shadow: 2px 2px 2px @shadow-color;

    p {
        margin-bottom: @pad-unit;
    }

    h1 {
        margin-bottom: @pad-unit;
        font-size: @base-font-size * 2;
    }

    h2 {
        margin-bottom: @pad-unit * 0.8;
        font-size: @base-font-size * 1.8;
    }

    h3 {
        margin-bottom: @pad-unit * 0.7;
        font-size: @base-font-size * 1.6;
    }

    h4 {
        margin-bottom: @pad-unit * 0.5;
        font-size: @base-font-size * 1.4;
    }
    h5, h6 {
        margin-bottom: @pad-unit * 0.5;
        font-size: @base-font-size * 1.2;
    }
}

#status-panel {
    display: block;
    float: right;
    font-size: @base-font-size * 0.8;
    margin-top: @pad-unit * 0.4;
    color: @text-color-very-weak;
    text-align: right;
    width: 30%;
}

.edit-controls {
    position: fixed;
    top: @main-menu-height;
    font-size: @base-font-size * 1.7;
    width: 5%;
    padding: 1%;
    margin: auto;
    border-top: 1px solid @line-color;
}

.edit-control {
    padding: @pad-unit * 0.5;
}

