@font-face {
  font-family: 'economica';
  src: url('/fonts/Economica-Bold.ttf');
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'goudy';
  src: url('/fonts/GoudyBookletter1911.ttf');
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'inconsolata';
  src: url('/fonts/Inconsolata-Regular.ttf');
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'merriweather';
  src: url('/fonts/MerriweatherSans-Light.ttf');
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'arvo';
  src: url('/fonts/Arvo-Regular.ttf');
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'cabin';
  src: url('/fonts/Cabin-Regular.ttf');
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'crimson text';
  src: url('/fonts/CrimsonText-Roman.ttf');
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

