@font-face {
    font-family: 'icons';
    src: url('/fonts/icons.ttf');
}

nav {
  [class^="icon-"],
  [class*=" icon-"] {
    display: inline-block;
    text-decoration: none;
    padding: @pad-unit * 0.5;
    font-size: @base-font-size * 1.7;
    cursor: pointer;
  }
}

[class^="icon-"],
[class*=" icon-"] {
  color: @text-color-very-weak;
  font-family: 'icons';
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: block;
  cursor: pointer;

    &:hover {
      color: @text-color;
    }
}

.icon-posts-list:before {content:'b';};
.icon-images-list:before {content: 'e';};
.icon-sync-wordpress:before {content:'m';};
.icon-new-post:before {content: 'd';};
.icon-insert:before {content:'o';};
.icon-edit:before {content:'q';};
.icon-delete:before {content:'n';};
.icon-settings:before {content:'a';};
.icon-view-html:before {content:'k';};
.icon-view-markdown:before {content:'j';};
.icon-logs:before {content:'f';};
.icon-reload:before {content: 'r'};
.icon-close:before {content: 'x'};
.icon-help:before {content: 'l'};
.icon-larger-font:before {content: 'g'};
.icon-smaller-font:before {content: 'p'};
.icon-larger-line-height:before {content: 'h'};
.icon-smaller-line-height:before {content: 'i'};

