.list-container {
  margin: auto;
  width: 80%;
  padding-top: @pad-unit;
}

.list {
  padding: 0;
  width: 90%;
  margin-top: @pad-unit;
  list-style: none;
  overflow: hidden;

  .large-thumbnail {
    float: left;
    width: @pad-unit * 10;
    margin-top: @pad-unit;
  }
}

.list-item-line {
  border: 1px solid @line-color;
  padding: @pad-unit * 0.7;
  border-radius: @pad-unit * 0.3;
  list-style: none;
  width: 90%;
  margin: 0 0 @pad-unit * 0.3 0;

  h3 {
    font-size: @base-font-size * 1.4;
    font-weight: 300;
    margin: 0 0 @pad-unit * 0.5 0;
  }

  .clickable-title {
    cursor: pointer;
  }

  .icon {
    font-size: @base-font-size * 1.4;
    float: right;
    margin-left: @pad-unit;
    cursor: pointer;
  }
  .item-date {
    font-size: @base-font-size * 0.8;
    color: @text-color-weak;
    padding-top: @pad-unit * 0.5;
  }
}

.list-item-tile {
  border: 1px solid @line-color;
  padding: @pad-unit * 0.7;
  border-radius: @pad-unit * 0.3;
  list-style: none;
  width: @pad-unit * 10;
  height: @pad-unit * 12;
  margin-right: @pad-unit;
  margin-bottom: @pad-unit;
  overflow: hidden;
  float: left;

  h3 {
    font-size: @base-font-size * 1.4;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    width: @pad-unit * 9;
  }

  .icon {
    font-size: @base-font-size * 1.4;
    float: right;
    margin-left: @pad-unit;
    cursor: pointer;
  }
}

.list-table {
  width: 100%;
  font-size: @base-font-size * 0.9;
  padding-bottom: @pad-unit;
  padding-top: @pad-unit;

  td, th {
    text-align: left;
    border-bottom: 1px solid @line-color;
    padding-top: @pad-unit * 0.5;
    padding-bottom: @pad-unit * 0.5;
    padding-right: @pad-unit * 0.5;
  }
}