@logo-size: 40px;
@status-light-size: 14px;
@status-bar-height: 40px;
@status-light-left: 23px;
@status-light-top: 27px;

@circle-radius: 30px;
@circle-border: 6px;
@top-margin: @pad-unit;
@left-margin: @pad-unit * 0.5;

@spinner-width: 20px;
@spinner-length: 6px;

.status-bar {
  position: fixed;
  bottom: @pad-unit;
  margin-left: @pad-unit/2;
  width: 100%;
  height: @status-bar-height;
  // z-index: 1;

  .icon-close {
    float: right;
    color: @status-text-color;
  }
}

.status-container {
  float: left;
  margin-left: @pad-unit/2;
  margin-top: @pad-unit/2;
}

.status {
  display: block;
  font-family: 'icons';
  font-size: @logo-size;
  color: @text-color-very-weak;

  &:hover {
    color: @text-color;
  }

  &:before {
    content: 't';
  }
}

.rotate {
  -webkit-animation: spin 6s linear infinite;
  -webkit-transform-origin: 50% 50%;
}

.status-light {
  cursor: pointer;
  border-radius: 50%;
  margin: auto;
  height: @status-light-size;
  width: @status-light-size;
  position: absolute;
  display: block;
  top: @status-light-top;
  left: @status-light-left;
}

.processing {
  background-color: @text-color-weak;
}

.error {
  background-color: @error-color;
}

.success {
  background-color: @success-color;
}

.status-message-common {
  float: left;
  position: absolute;
  top: @circle-border;
  left: @pad-unit * 0.5 + @left-margin + @circle-radius + @circle-border * 2;
  width: 85%;
  padding: @pad-unit * 0.5;
  color: @status-text-color;
  z-index: 2;
  border-radius: @border-radius;
}

.status-message-after-common {
  content: '';
  position: absolute;
  top: 20%;
  left: 0;
  margin-left: @pad-unit * -0.5;
  border-style: solid;
  border-width: @pad-unit * 0.5;
  border-left: 0;
}

.status-message.error {
  .status-message-common;
    &:after {
      .status-message-after-common;
      border-color: transparent @error-color transparent;
    }
  }

.status-message.success {
  .status-message-common;
    &:after {
      .status-message-after-common;
      border-color: transparent @success-color transparent;
    }
  }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}