@font-face {
  font-family: 'economica';
  src: url('/fonts/Economica-Bold.ttf');
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'goudy';
  src: url('/fonts/GoudyBookletter1911.ttf');
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'inconsolata';
  src: url('/fonts/Inconsolata-Regular.ttf');
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'merriweather';
  src: url('/fonts/MerriweatherSans-Light.ttf');
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
.list-container {
  margin: auto;
  width: 80%;
  padding-top: 20px;
}
.list {
  padding: 0;
  width: 90%;
  margin-top: 20px;
  list-style: none;
  overflow: hidden;
}
.list .large-thumbnail {
  float: left;
  width: 200px;
}
.list-item-line {
  border: 1px solid #404040;
  padding: 14px;
  border-radius: 6px;
  list-style: none;
  width: 90%;
  margin: 0 0 6px 0;
}
.list-item-line h3 {
  font-size: 22.4px;
  font-weight: 300;
  margin: 0 0 10px 0;
}
.list-item-line .clickable-title {
  cursor: pointer;
}
.list-item-line .icon {
  font-size: 22.4px;
  float: right;
  margin-left: 20px;
  cursor: pointer;
}
.list-item-line .item-date {
  font-size: 12.8px;
  color: #8c8c8c;
  padding-top: 10px;
}
.list-item-tile {
  border: 1px solid #404040;
  padding: 14px;
  border-radius: 6px;
  list-style: none;
  width: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  float: left;
}
.list-item-tile h3 {
  font-size: 22.4px;
  font-weight: 300;
  margin: 0 0 10px 0;
}
.list-item-tile .icon {
  font-size: 22.4px;
  float: right;
  margin-left: 20px;
  cursor: pointer;
}
.list-table {
  width: 100%;
  font-size: 14.4px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.list-table td,
.list-table th {
  text-align: left;
  border-bottom: 1px solid #404040;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}
#editor {
  height: 100%;
  min-height: 100%;
}
#post-container {
  padding-bottom: 40px;
}
#edit-panel {
  margin: auto;
  max-width: 700px;
  width: 80%;
}
.post-common {
  max-width: 900px;
  border-radius: 4px;
  resize: none;
  outline: none;
  overflow-y: auto;
}
.post-content-common {
  max-width: 900px;
  border-radius: 4px;
  resize: none;
  outline: none;
  overflow-y: auto;
  height: 85%;
  font-family: 'inconsolata';
  font-size: 16px;
  line-height: 25px;
}
#post-title {
  max-width: 900px;
  border-radius: 4px;
  resize: none;
  outline: none;
  overflow-y: auto;
  width: 100%;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px dotted #404040;
  font-family: 'economica';
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 32px;
  overflow: hidden;
  white-space: nowrap;
}
#post-content {
  max-width: 900px;
  border-radius: 4px;
  resize: none;
  outline: none;
  overflow-y: auto;
  height: 85%;
  font-family: 'inconsolata';
  font-size: 16px;
  line-height: 25px;
  padding: 12px;
  border: 0px;
  font-weight: 300;
}
#post-content-preview {
  max-width: 900px;
  border-radius: 4px;
  resize: none;
  outline: none;
  overflow-y: auto;
  height: 85%;
  font-family: 'inconsolata';
  font-size: 16px;
  line-height: 25px;
  padding: 30px 30px 30px 30px;
  border: 1px dotted #595959;
  box-shadow: 2px 2px 2px #a6a6a6;
}
#post-content-preview p {
  margin-bottom: 20px;
}
#post-content-preview h1 {
  margin-bottom: 20px;
  font-size: 32px;
}
#post-content-preview h2 {
  margin-bottom: 16px;
  font-size: 28.8px;
}
#post-content-preview h3 {
  margin-bottom: 14px;
  font-size: 25.6px;
}
#post-content-preview h4 {
  margin-bottom: 10px;
  font-size: 22.4px;
}
#post-content-preview h5,
#post-content-preview h6 {
  margin-bottom: 10px;
  font-size: 19.2px;
}
#status-panel {
  display: block;
  float: right;
  font-size: 12.8px;
  margin-top: 8px;
  color: #404040;
  text-align: right;
  width: 30%;
}
.edit-controls {
  position: fixed;
  left: 0;
  top: 240px;
  font-size: 27.2px;
  width: 5%;
  padding: 1%;
  margin: auto;
  border-top: 1px solid #404040;
}
.edit-control {
  padding: 10px;
}
#metadata-panel {
  position: fixed;
  bottom: 0px;
  width: 100%;
}
#metadata-panel .collapsed {
  height: 22px;
}
#metadata-panel .expanded {
  height: 173px;
}
#metadata-container {
  padding: 6px;
  border-radius: 10px 10px 0 0;
  background-color: #d9d9d9;
  color: #272727;
  border: 1px solid #f2f2f2;
  font-size: 12.8px;
  position: relative;
  margin: auto;
  width: 80%;
  overflow: hidden;
  box-shadow: 2px 2px 2px #a6a6a6;
}
#post-metadata {
  overflow: hidden;
  margin: auto;
  width: 90%;
}
.field-group {
  float: left;
  display: block;
  margin-bottom: 10px;
}
.field-group label {
  display: block;
  margin: 4px;
}
.field-group .input {
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #272727;
  padding: 4px;
  padding-right: 20px;
  width: 100%;
}
.field-group .icon-reload,
.field-group .icon-sync-wordpress {
  float: right;
  position: relative;
  top: 6px;
  left: 20px;
}
#metadata-collapser {
  display: block;
  border-radius: 4px;
  text-align: center;
  width: 95%;
  margin: auto;
  cursor: pointer;
  height: 8px;
  background-color: #ffffff;
}
.term-list {
  padding: 0;
  max-height: 100px;
  overflow-y: auto;
}
.term-list li {
  width: 43%;
  border: 1px solid #f2f2f2;
  border-radius: 6px;
  float: left;
  list-style: none;
  font-size: 12.8px;
  margin: 2px;
  padding: 4px;
  cursor: pointer;
  color: #d9d9d9;
  background-color: #272727;
}
.term-list li:hover {
  background-color: #d9d9d9;
  color: #272727;
}
.image-list {
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}
.image-list ul {
  padding: 10px;
  border: 1px solid #f2f2f2;
  border-radius: 6px;
  height: 180px;
  overflow-y: auto;
  margin-top: 10px;
}
.image-controls {
  position: relative;
  top: 100px;
  left: 30px;
  background-color: #d9d9d9;
  opacity: 0.9;
  padding: 6px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}
.image-controls span {
  display: inline;
  margin: 4px;
  font-size: 19.2px;
}
.thumbnail {
  float: left;
  list-style: none;
  margin-right: 20px;
  margin-bottom: 10px;
  width: 120px;
}
.thumbnail img {
  float: left;
  width: 100px;
  border-radius: 6px;
  border: 1px solid #f2f2f2;
  box-shadow: 1px 1px 1px #595959;
}
.thumbnail .caption {
  margin-top: 10px;
  float: left;
  font-size: 12.8px;
}
@font-face {
  font-family: 'icons';
  src: url('/fonts/icons.ttf');
}
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  font-size: 20.8px;
  cursor: pointer;
}
[class^="icon-"],
[class*=" icon-"] {
  color: #404040;
  font-family: 'icons';
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: block;
  cursor: pointer;
}
[class^="icon-"]:hover,
[class*=" icon-"]:hover {
  color: #bfbfbf;
}
.icon-posts-list:before {
  content: '\f00b';
}
.icon-sync-wordpress:before {
  content: '\e000';
}
.icon-new-post:before {
  content: '\e001';
}
.icon-insert:before {
  content: '\f044';
}
.icon-edit:before {
  content: '\f044';
}
.icon-delete:before {
  content: '\f014';
}
.icon-settings:before {
  content: '\f085';
}
.icon-preview-on:before {
  content: '\f06e';
}
.icon-preview-off:before {
  content: '\f070';
}
.icon-logs:before {
  content: '\E007';
}
.icon-reload:before {
  content: '\E006';
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #d9d9d9;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.modal-backdrop .fade {
  opacity: 0;
}
.modal-backdrop .fade .in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin-left: -280px;
  background-color: #262626;
  border: 1px solid #404040;
  border-radius: 2px;
  outline: none;
  box-shadow: 0 4px 4px #a6a6a6;
  background-clip: padding-box;
}
.modal.fade {
  top: -25%;
  transition: opacity 0.3s linear, top 0.3s ease-out;
}
.modal.fade.in {
  top: 10%;
}
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #404040;
}
.modal-header .close {
  margin-top: 2px;
}
.modal-header h3 {
  margin: 0;
  line-height: 30px;
}
.modal-body {
  position: relative;
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}
.modal-form {
  margin-bottom: 0;
  overflow: hidden;
  padding: 20px;
}
.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #191919;
  border-top: 1px solid #404040;
  border-radius: 0 0 4px 4px;
  *zoom: 1;
  box-shadow: inset 0 1px 0 #262626;
}
.modal-footer:before,
.modal-footer:after {
  display: table;
  line-height: 0;
  content: "";
}
.modal-footer:after {
  clear: both;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.hide {
  display: none;
}
html {
  height: 100%;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
table,
div,
ul,
ol {
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-style: normal;
}
body {
  background-color: #262626;
  width: 100%;
  height: 100%;
}
body,
input,
textarea,
button {
  font-family: 'Ubuntu', sans-serif;
  color: #bfbfbf;
}
.main-container {
  height: 100%;
}
nav {
  width: 5%;
  float: left;
  position: fixed;
  padding: 1%;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav ul li {
  list-style: none;
  float: left;
}
#main-panel {
  height: 88%;
}
.btn {
  border-radius: 4px;
  padding: 4px 20px 4px 20px;
  line-height: 28.8px;
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
  background: linear-gradient(to bottom, #bfbfbf 5%, #a6a6a6 100%);
  background-color: #bfbfbf;
  border: 1px solid #bfbfbf;
  color: #262626;
  text-shadow: 0px -1px 0px #a6a6a6;
}
.btn:hover {
  background: linear-gradient(to bottom, #a6a6a6 5%, #bfbfbf 100%);
  background-color: #a6a6a6;
}
.pull-right {
  float: right;
}
.full {
  width: 95%;
}
.half {
  width: 43%;
  margin-right: 7%;
}
.center {
  margin: auto;
}
h2 {
  font-weight: 300;
  font-size: 22.4px;
}
.input-box {
  background-color: #262626;
  border: 1px solid #404040;
  border-radius: 2px;
  padding: 4px;
  padding-right: 20px;
  font-size: 12.8px;
  width: 100%;
}
.warning-message {
  font-style: italic;
  font-size: 12.8px;
  color: #8c8c8c;
}
