<section id="editor" data-ng-controller="EditorController">

  <section id="edit-panel">
    <h1 class="input-box" id="post-title" contenteditable="true" data-editable-text="true" data-ng-model="post.title"></h1>
    <div id="post-container">

      <article contenteditable="true" class="input-box" data-editable-markdown="true" id="post-content" data-ng-show="!previewOn"
        data-ng-model="post.contentMarkdownHtml"></article>
      <div id="post-content-preview" data-ng-show="previewOn" data-ng-bind-html-unsafe="post.contentHtmlPreview"></div>
      <button data-ng-click="togglePreview()">preview</button>
      <button data-ng-click="read()">read</button>
      <button data-ng-click="sync()">sync</button>

      <span id="status-panel">
        <span>last saved <strong><span data-ng-bind="status.autoSaveTime"></span></strong></span>
      </span>

    </div>
  </section>

  <aside id="metadata-panel">
    <div id="metadata-container">
      <div id="metadata-collapser" data-ng-click="toggleMetadataPanel()"></div>
      <section id="post-metadata" data-ng-show="showMetadata" data-ng-animate>

        <div class="field-group full">
          <label>exceprt</label>
          <div class="input" contenteditable="true" data-editable-text="true" data-ng-model="post.excerpt" id="post-excerpt"></div>
          <span class="icon-reload" data-ng-click="updateExcerpt()"></span>
        </div>

        <div class="field-group half">
          <label>tags</label>
          <div class="input" contenteditable="true" data-editable-text="true" data-ng-model="post.tags" id="post-tags"></div>
          <button data-ng-click="getTags()">tags</button>
        </div>

        <div class="field-group half">
          <label>categories</label>
          <div class="input" contenteditable="true" data-editable-text="true" data-ng-model="post.categories" id="post-categories"></div>
        </div>
      </section>
    </div>
  </aside>

</section>