<div class="list-container" data-ng-controller="PostsController">
    <h2>Posts     <button data-ng-click="deleteAll()">delete all posts</button></h2>
    <ul>
        <li class="list-item" data-ng-repeat="post in posts">
            <span class="icon icon-delete-post" data-ng-click="deletePost(post)"></span>
            <span class="icon icon-edit-post" data-ng-click="editPost(post)"></span>
            <h3 data-ng-bind="post.title"></h3>

            <span class="item-date">created on
                <strong data-ng-bind="post.createdDate | date:'short'"></strong>
            </span>
        </li>
    </ul>

</div>