#post-container {
    height: 100%;
}

.metadata-panel {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.metadata-container {
    color: white;
    padding: @pad-unit * 0.5;
    border-radius: @pad-unit * 0.5 @pad-unit * 0.5 0 0;
    border: 1px solid darken(@base-color, 15%);
    background-color: darken(@base-color, 10%);

    position: relative;
    margin: auto;
    width: 80%;
}

.edit-panel {
    padding: @pad-unit;
    height: 90%;
    margin: auto;
    max-width: 960px;
    width: 80%;
}

.metadata-collapser {
    display: block;
    border-radius: @pad-unit * 0.2;
    text-align: center;
    width: 95%;
    margin: auto;
    cursor: pointer;
    height: @pad-unit * 0.5;
    background-color: darken(@base-color, 20%);
}

.post-common {
    width: 93%;
    max-width: 900px;
    border-radius: @pad-unit * 0.2;
    border: 1px dotted @line-color;
    padding: @pad-unit * 0.6;
    resize: none;
    outline: none;
    overflow-y: auto;
}

.post-content-common {
    .post-common;
    height: 70%;
    font-family: 'goudy';
    font-size: @base-font-size * 1.1;
    line-height: @base-line-height * 1.2;
}

#post-title {
    .post-common;
    font-family: 'economica';
    margin-bottom: @pad-unit * 0.5;
    font-weight: 300;
    font-size: @base-font-size * 2;
    overflow: hidden;
    white-space: nowrap;
}

#post-content {
    .post-content-common;
    white-space: pre;
    font-weight: 300;
}

#post-content-preview {
    .post-content-common;
    border: 1px dotted darken(@line-color, 10%);
}

#post-container {
    height: 100%;
}

#status-panel {
    display: block;
    float: right;
    font-size: @base-font-size * 0.8;
    margin-top: @pad-unit * 0.7;
    margin-right: @pad-unit;
    color: lighten(@text-color, 20%);
    text-align: right;
    width: 30%;
}
