@font-face {
  font-family: 'economica';
  src: url('/fonts/Economica-Bold.ttf');
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'goudy';
  src: url('/fonts/GoudyBookletter1911.ttf');
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'inconsolata';
  src: url('/fonts/Inconsolata-Regular.ttf');
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'merriweather';
  src: url('/fonts/MerriweatherSans-Light.ttf');
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
.btn {
  border-radius: 5px;
  border: 0px;
  color: white;
  padding: 4px;
  font-weight: 600;
  line-height: 28.8px;
  background-color: #cc0000;
}
.pull-right {
  float: right;
}
.full {
  width: 95%;
}
.half {
  width: 45%;
  margin-right: 5%;
}
.list-container {
  margin: auto;
  width: 80%;
}
.list-container ul {
  padding: 0;
  width: 90%;
}
.list-item {
  border: 1px solid #e6e6e6;
  padding: 14px;
  border-radius: 6px;
  list-style: none;
  width: 100%;
  margin: 0 0 6px 0;
}
.list-item h3 {
  font-size: 22.4px;
  font-weight: 300;
  margin: 0 0 10px 0;
}
.list-item .icon {
  font-size: 22.4px;
  float: right;
  margin-left: 20px;
  cursor: pointer;
}
.list-item .item-date {
  font-size: 12.8px;
  color: #cccccc;
  padding-top: 10px;
}
#editor {
  height: 100%;
}
#post-container {
  height: 90%;
}
#edit-panel {
  padding: 1%;
  height: 94%;
  margin: auto;
  max-width: 960px;
  width: 80%;
}
.post-common {
  width: 93%;
  max-width: 900px;
  border-radius: 4px;
  border: 1px dotted #e6e6e6;
  padding: 12px;
  resize: none;
  outline: none;
  overflow-y: auto;
}
.post-content-common {
  width: 93%;
  max-width: 900px;
  border-radius: 4px;
  border: 1px dotted #e6e6e6;
  padding: 12px;
  resize: none;
  outline: none;
  overflow-y: auto;
  height: 85%;
  font-family: 'inconsolata';
  font-size: 16px;
  line-height: 25px;
}
#post-title {
  width: 93%;
  max-width: 900px;
  border-radius: 4px;
  border: 1px dotted #e6e6e6;
  padding: 12px;
  resize: none;
  outline: none;
  overflow-y: auto;
  font-family: 'economica';
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 32px;
  overflow: hidden;
  white-space: nowrap;
}
#post-content {
  width: 93%;
  max-width: 900px;
  border-radius: 4px;
  border: 1px dotted #e6e6e6;
  padding: 12px;
  resize: none;
  outline: none;
  overflow-y: auto;
  height: 85%;
  font-family: 'inconsolata';
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
}
#post-content-preview {
  width: 93%;
  max-width: 900px;
  border-radius: 4px;
  border: 1px dotted #e6e6e6;
  padding: 12px;
  resize: none;
  outline: none;
  overflow-y: auto;
  height: 85%;
  font-family: 'inconsolata';
  font-size: 16px;
  line-height: 25px;
  border: 1px dotted #cccccc;
}
#status-panel {
  display: block;
  float: right;
  font-size: 12.8px;
  margin-top: 8px;
  margin-right: 20px;
  color: #999999;
  text-align: right;
  width: 30%;
}
#metadata-panel {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
#metadata-container {
  padding: 6px;
  border-radius: 10px 10px 0 0;
  background-color: #4d4d4d;
  color: #b3b3b3;
  border: 1px solid #404040;
  position: relative;
  margin: auto;
  width: 80%;
  overflow: hidden;
  box-shadow: 2px 2px 2px #666666;
}
#metadata-collapser {
  display: block;
  border-radius: 4px;
  text-align: center;
  width: 95%;
  margin: auto;
  cursor: pointer;
  height: 8px;
  background-color: #262626;
}
#post-metadata {
  overflow: hidden;
  margin: auto;
  width: 90%;
}
.field-group {
  float: left;
  display: block;
  margin-bottom: 10px;
}
.field-group label {
  display: block;
  font-size: 12.8px;
  margin: 4px;
}
.field-group .input {
  border: 1px solid #999999;
  border-radius: 4px;
  color: #b3b3b3;
  padding: 4px;
  font-size: 12.8px;
}
.field-group .icon-reload {
  float: right;
  position: relative;
  top: -20px;
  left: 20px;
}
@font-face {
  font-family: 'icons';
  src: url('/fonts/icons.ttf');
}
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: none;
  color: #e6e6e6;
  padding: 10px;
  font-size: 20.8px;
}
a [class^="icon-"]:hover,
a [class*=" icon-"]:hover {
  color: #666666;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icons';
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: block;
  cursor: pointer;
}
.icon-posts-list:before {
  content: '\f00b';
}
.icon-sync-post:before {
  content: '\e000';
}
.icon-new-post:before {
  content: '\e001';
}
.icon-edit-post:before {
  content: '\f044';
}
.icon-delete-post:before {
  content: '\f014';
}
.icon-settings:before {
  content: '\f085';
}
.icon-preview-on:before {
  content: '\f06e';
}
.icon-preview-off:before {
  content: '\f070';
}
.icon-logs:before {
  content: '\E007';
}
.icon-reload:before {
  content: '\E006';
}
html {
  height: 100%;
}
body {
  background-color: #ffffff;
  font-weight: 300;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}
body,
input,
textarea,
button {
  font-family: 'Ubuntu', sans-serif;
  color: #666666;
}
.main-container {
  height: 100%;
  padding: 0;
  margin: 0;
}
nav {
  height: 5%;
  overflow: hidden;
  padding: 1%;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav ul li {
  list-style: none;
  float: left;
}
#main-panel {
  height: 88%;
}
