.btn {
  border-radius: 5px;
  border: 0px;
  color: white;
  padding: 4px;
  font-weight: 600;
  line-height: 28.8px;
  background-color: #cc0000;
}
#post-container {
  height: 100%;
}
.metadata-panel {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.metadata-container {
  color: white;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  border: 1px solid #d9d9d9;
  background-color: #e6e6e6;
  position: relative;
  margin: auto;
  width: 80%;
}
.edit-panel {
  padding: 20px;
  height: 90%;
  margin: auto;
  max-width: 960px;
  width: 80%;
}
.metadata-collapser {
  display: block;
  border-radius: 4px;
  text-align: center;
  width: 95%;
  margin: auto;
  cursor: pointer;
  height: 10px;
  background-color: #cccccc;
}
.post-common {
  width: 93%;
  max-width: 900px;
  border-radius: 4px;
  border: 1px dotted #e6e6e6;
  padding: 12px;
  resize: none;
  outline: none;
  overflow-y: auto;
}
.post-content-common {
  width: 93%;
  max-width: 900px;
  border-radius: 4px;
  border: 1px dotted #e6e6e6;
  padding: 12px;
  resize: none;
  outline: none;
  overflow-y: auto;
  height: 70%;
  font-family: 'inconsolata';
  font-size: 17.6px;
  line-height: 25px;
}
#post-title {
  width: 93%;
  max-width: 900px;
  border-radius: 4px;
  border: 1px dotted #e6e6e6;
  padding: 12px;
  resize: none;
  outline: none;
  overflow-y: auto;
  font-family: 'goudy';
  margin-bottom: 10px;
}
#post-content {
  width: 93%;
  max-width: 900px;
  border-radius: 4px;
  border: 1px dotted #e6e6e6;
  padding: 12px;
  resize: none;
  outline: none;
  overflow-y: auto;
  height: 70%;
  font-family: 'inconsolata';
  font-size: 17.6px;
  line-height: 25px;
  white-space: pre;
}
#post-content-preview {
  width: 93%;
  max-width: 900px;
  border-radius: 4px;
  border: 1px dotted #e6e6e6;
  padding: 12px;
  resize: none;
  outline: none;
  overflow-y: auto;
  height: 70%;
  font-family: 'inconsolata';
  font-size: 17.6px;
  line-height: 25px;
  border: 1px dotted #cccccc;
}
#post-container {
  height: 100%;
}
#status-panel {
  display: block;
  float: right;
  font-size: 12.8px;
  margin-top: 14px;
  margin-right: 20px;
  color: #999999;
  text-align: right;
  width: 30%;
}
#login-panel {
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  margin: auto;
  width: 60%;
  margin-top: 60px;
  padding: 20px;
  overflow: hidden;
}
#login-panel button {
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  width: 60%;
}
.control-group {
  overflow: hidden;
  margin-bottom: 20px;
}
.control-group input {
  float: right;
  border: 1px solid #e6e6e6;
  line-height: 25px;
  font-size: 19.2px;
  padding: 6px;
  background-color: #ffffff;
}
.control-group label {
  float: left;
  margin-left: 12px;
}
@font-face {
  font-family: 'icons';
  src: url('/fonts/icons.ttf');
}
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: none;
  color: #e6e6e6;
  padding: 10px;
  font-size: 20.8px;
}
a [class^="icon-"]:hover,
a [class*=" icon-"]:hover {
  color: #666666;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icons';
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: block;
}
.icon-posts-list:before {
  content: '\f00b';
}
.icon-sync-post:before {
  content: '\e000';
}
.icon-new-post:before {
  content: '\e001';
}
.icon-edit-post:before {
  content: '\f044';
}
.icon-delete-post:before {
  content: '\f014';
}
.icon-settings:before {
  content: '\f085';
}
.icon-preview-on:before {
  content: '\f06e';
}
.icon-preview-off:before {
  content: '\f070';
}
html {
  height: 100%;
}
body {
  background-color: #ffffff;
  font-weight: 400;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body,
input,
textarea,
button {
  font-family: 'Ubuntu', sans-serif;
  color: #666666;
}
.main-container {
  height: 100%;
}
