@import 'fonts.less';
@import 'common.less';
@import 'lists.less';
@import 'editor.less';
@import 'icons.less';

html {
	height: 100%;
}

body {
	background-color: @base-color;
	font-weight: 300;
	width: 100%;
  overflow-x: hidden;
	height: 100%;
  margin: 0;
  padding: 0;
}

body, input, textarea, button {
	font-family: @sans-font;
	color: @text-color;
}

.main-container {
  height: 99%;
  padding: 0;
  margin: 0;
}

nav {
  height: 5%;
  overflow: hidden;

  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      float: left;
    }
  }
}

#main-panel {
  height: 90%;
}
